body {
    padding: 60px;
    background: #6c1615;
}
div {
    max-width: 650px;
    background-color: white;
    min-width: 300px;
    color: black;
    box-shadow: 0 1px 4px rgba(0,0,0,0.8),
        0 0 40px rgba(0,0,0,0.5) inset;
    margin:30px;
}
h1 {
    margin-left:30px;
}
header {
    box-shadow: inset;
    width: 100%;
    background: #b1322c url(logo1.jpg) no-repeat 5% 50%;
    height: 220px;
    position: fixed;
    position: relative;
    box-shadow: 0 1px 4px rgba(0,0,0,0.8), 0 0 40px rgba(0,0,0,0.5) inset;
    text-align: end;
    color: white;
    font-size: 30px;
}
div1 {
    font-size: 24px;
    margin-left: 30px;
    margin-bottom: 30px;
}
div2 {
    max-width: 650px;
    background-color: white;
    min-width: 300px;
    color: black;
    box-shadow: 0 1px 4px rgba(0,0,0,0.8), 0 0 40px rgba(0,0,0,0.5) inset;
    margin: 30px;

}

a {
    color: white;
}
